<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap CSS Styling -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <title>login Reg Form</title>
</head>
    <body>
        <div class="pb-3 container text-center border border-info">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p class="p-3 mb-2 bg-danger text-white">{{message}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <h1 class="display-4">Register</h1>
            <form action="/register" method="POST" class=" form-group">
                Email: <input type="text" name="email" class="form-control mb-3" id="exampleInputEmail1" placeholder="Enter Email" >
                First Name: <input type="text" name="first_name" class= "mb-3 form-control" id="exampleInputFirstName" placeholder="First Name" >
                Last Name: <input type="text" name="last_name" class= "mb-3 form-control" id="exampleInputLastName" placeholder="Last Name">
                Password: <input type="password" name="pword" class= "mb-3 form-control" id="exampleInputPassword1" placeholder="Password"  >
                Confirm Password: <input type="password" name="confpword" class= "mb-3 form-control" id="exampleInputPassword1" placeholder="Confirm Password" >
                <hr>
                <input type="submit" value="Register" class="btn btn-outline-info ">
            </form>
            <h1 class="display-4">Login</h1>
            <form action="/login" method="POST" class="form-group">
                Email: <input type="text" name="email" class="form-control mb-3" id="exampleInputEmail1" placeholder="Enter email">
                Password: <input type="password" name="pword" class= "mb-3 form-control" id="exampleInputPassword1" placeholder="Password" >
                <hr>
                <input type="submit" value="Log In" class="btn btn-outline-info ">
            </form>
                
     
        </div>
    </body>
</html>